body {
    background-color: darkblue;
}
#name {
    color: aliceblue;
    text-align: center;
}
#Button {
    text-align: center;
    color: black;
}
#statTable {
    color: white;
    display: flex;
    justify-content: center;
}
